* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.menu-ul {
  list-style-type: none;
  background: #F3EEEA;
  display: flex;
  list-style-position: outside;
  height: 80px;
}

.ul-two {
  flex-direction: row-reverse;
}

.ul-three {
  flex-direction: column;
  height: 400px;
}

.ul-four {
  flex-wrap: wrap !important;
  height: inherit;
}

.menu-one, .menu-two, .menu-three {
  margin: 5px;
  background: #14A8FA;
  flex: 1 1 0;
}

.menu-four {
  background: #14A8FA;
  margin: 5px;
  width: 200px;
  height: 80px;
}








