* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.menu-ul {
  list-style-type: none;
  background: #F3EEEA;
  display: flex;
  list-style-position: outside;
  height: 80px;
}

.ul-two {
    flex-direction: row-reverse;
}

.menu-item {
    margin: 5px;
    background: #14A8FA;
}

.menu-one, .menu-two {
    flex: 1 1 0;
}







