* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.menu-ul {
  list-style-type: none;
  background: #ccc;
  display: flex;
  list-style-position: outside;
}

.menu-item {
    margin: 5px;
    background: #111;
}

.menu-one {
    flex: 1 1 0;
}





